.location-accordion {
  padding: 10px 15px;
  border: 1px solid #e7e8eb;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 20px 0 0 10px;
  cursor: pointer;

  &.expanded {
    background-color: #f9fafc;
  }
}
