.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px 0;
  vertical-align: top;
  border-bottom: 1px solid #e7e8eb;

  .title-bar {
    .name {
      font-size: 1.5em;
      font-weight: bold;
      padding: 0;
      margin: 0;
    }
  }

  .action-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
  }

  @media (max-width: 950px) {
    flex-direction: column;

    .title-bar {
      text-align: center;
    }
  }
}
