<div class="action-bar">
  <div class="search-container">
    <app-icon-input
      name="search"
      placeHolder="Search"
      [icon]="searchIcon"
      [form]="form"
    ></app-icon-input>
  </div>

  <div class="view-toggle">
    <app-icon-toggle
      [options]="viewToggleOptions"
      (onChange)="setCurrentView($event)"
    ></app-icon-toggle>
  </div>
  
  <div class="btn-container">
    <app-button (click)="showNewLocationModal()" text="NEW LOCATION" theme="primary"></app-button>
  </div>
</div>
