.btn {
  border: none;
  padding: 0.9em 3em;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    background-color: #257490;
    color: white;

    &:disabled {
      opacity: 0.5;
    }
  }
  &.default {
    background-color: white;
    border: 1px solid #aeafb1;
    color: #68758d;
  }
  &.danger {
    background-color: #e61d1c;
    color: white;
  }
}
