.location-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;

  .accordion-actions {
    .action {
      font-size: 11px;
      display: flex;
      flex-direction: column;
    }
  }

  .icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50%;
    padding: 17px;
    background-color: #25749044;
    color: #257490;
  }

  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 12px;

    .offices {
      color: #9494f4;
    }

    .people {
      color: #f1b546;
    }

    .person {
      color: #a8d962;
    }
  }
}
