.grid-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  box-shadow: 0.5px 0.5px 2px #b3b3b3;
  max-width: 300px;
  min-width: 250px;
  gap: 20px;
  border-radius: 6px;
  cursor: pointer;
  
  &.leaf-node {
    cursor: default;
  }

  &:not(.leaf-node):hover {
    background-color: #f3f3f3;
  }


  .icon {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 50%;
    padding: 17px;
    background-color: #2574901f;
    color: #257490;
  }
  
  .location-details {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .name {
      font-weight: bold;
    }
  }

  .expandable-indicator {
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
  }
}
